extends layout

block content
	.container
		h1 About Us
		p aVestibulum porttitor est at enim ornare, vel dapibus nunc dignissim. Donec cursus congue elit, at dapibus ligula euismod sed. Sed vitae nunc vel diam cursus gravida. Nunc nec mattis nulla, eu lobortis elit.
		ul
			li first thing
			li second thing
			li third thing
		p Quisque tincidunt velit quis augue mattis, at venenatis eros iaculis. In ut nisl varius, cursus elit in, vestibulum nisi. Aenean rutrum lacus eu metus ultrices, ut accumsan ligula vulputate. Proin ornare sagittis eros fringilla placerat. Sed aliquam volutpat purus eu semper. Praesent porttitor eleifend turpis, in tincidunt tellus efficitur sed. Vestibulum et tempus ipsum.