extends layout

block content
	.container
		h1 About Us
		p ay kalam about us ay kalam about us ay kalam about us ay kalam about us ay kalam about us ay kalam about us ay kalam about us ay kalam about us ay kalam about us.
		ul
			li first thing
			li second thing
			li third thing
		p test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test.