extends layout

block content
	.jumbotron
		.container
			h1 how may I help you?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas urna ac turpis scelerisque, quis mollis augue congue.
			a.btn.btn-primary.btn-lg(href="#") learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Vestibulum non tempus lacus. Sed rhoncus tincidunt libero in semper. Nulla lectus purus, mollis quis est ac, tincidunt tempus neque. Suspendisse volutpat sapien eget odio scelerisque, sed finibus augue pellentesque. Fusce venenatis est dolor, ut rutrum turpis mattis quis.
				a.btn.btn-default(href="#") view details
			.col-md-4
				h2 Services
				p Vestibulum non tempus lacus. Sed rhoncus tincidunt libero in semper. Nulla lectus purus, mollis quis est ac, tincidunt tempus neque. Suspendisse volutpat sapien eget odio scelerisque, sed finibus augue pellentesque. Fusce venenatis est dolor, ut rutrum turpis mattis quis.
				a.btn.btn-default(href="#") view details
			.col-md-4
				h2 Get In Touch
				p Vestibulum non tempus lacus. Sed rhoncus tincidunt libero in semper. Nulla lectus purus, mollis quis est ac, tincidunt tempus neque. Suspendisse volutpat sapien eget odio scelerisque, sed finibus augue pellentesque. Fusce venenatis est dolor, ut rutrum turpis mattis quis.
				a.btn.btn-default(href="#") view details