extends layout

block content
	.jumbotron
		.container
			h1 how may I help you?
			p ay 7aga fe paragraph ay 7aga fe paragraph ay 7aga fe paragraph ay 7aga fe paragraph ay 7aga fe paragraph ay 7aga fe paragraph ay 7aga fe paragraph.
			a.btn.btn-primary.btn-lg(href="#") learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees.
				a.btn.btn-default(href="#") view details
			.col-md-4
				h2 Services
				p kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees.
				a.btn.btn-default(href="#") view details
			.col-md-4
				h2 Get In Touch
				p kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees kalam tany 7'aleees.
				a.btn.btn-default(href="#") view details